
/* Your CSS Code here. */
.container{
	width: 200px;
	background-color: purple;
    border-left-color: solid green;
	text-decoration-line: underline;
	padding: 10px;
	font-size: 20px;
	color: white;
}
